*{
    margin:0 auto;
    padding:0;
}
body {
    font: 0.875em/1.4 Microsoft Yahei, 微软雅黑;
    *font-size: small;
    word-wrap: break-word;
    margin: 0 auto;
    -webkit-text-size-adjust: none;
    color: #333333;
    height: 100%;
}
#c{
    width:70%;
    height:70%;
    margin:10%  auto 0;
    background:#fcfcfc;
    border:1px solid #0cf;
}
.xz_span{
    display:inline-block;
    width:100px;
    height:60px;
    line-height:60px;
    font-size:16px;
    color:#333;
}
.xz_dl{
    width:96%;
    height:auto;
    min-height:40px;
    padding:2%;
}
.xz_dl:nth-child(odd){
    background:#E9F4F9;
}
dl:nth-child(even){
    background:#E0F0F5;
}
.xz_dt{
    width:40%;
    float:left;
    height:40px;
    line-height:40px;
}
.xz_dd{
    float:left;
    height:40px;
    line-height:40px;
    width:15%;
}
